<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @shop.image.url(:medium) %>
        <div class="star-rating" data-score= <%= @avg_review %> ></div>
        <em><%= "#{@reviews.length} reviews"%></em>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>商户名:</strong></td>
                <td><%= @shop.title %></td>
              </tr>
              <tr>
                <td><strong>小众评价:</strong></td>
                <td><%= @shop.rating %></td>
              </tr>
            </tbody>
          </table>
          <%= link_to 'Write a Review', new_shop_review_path(@shop) %>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1 class="review-title"><%= @shop.title %></h1>
        <p><%= @shop.comment %></p>

        <% if @reviews.blank? %>
          <h3>No reviews yet. Would you like to be the first?</h3>
          <%= link_to 'Write a Review', new_shop_review_path(@shop), class: 'btn btn-danger' %>
        <% else %>
          <% @reviews.each do |review| %>
            <div class="reviews">
              <div class="star-rating" data-score= <%= review.rating %> ></div>
              <p><%= review.comment %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });  
</script>
